{
    "plugins": [
        "react"
    ],
	"env": {
		"browser": true,
		"node": true,
    },
    "globals": {
    	"_gaq": false,
    	"alert": false
    },
    "rules": {
    	"quotes": 0,
    	"strict": 0,
    	"curly": 0,
    	"camelcase": 0,

    	"no-alert": 0,
    	"no-underscore-dangle": 0,

        "react/jsx-uses-react": 1,
        "react/jsx-uses-vars": 1
    },
	"ecmaFeatures": {
		"jsx": true,
		"arrowFunctions": true,
		"objectLiteralShorthandMethods": true,
		"objectLiteralShorthandProperties": true,
		"destructuring": true,
		"spread": true,
		"templateStrings": true,
        "globalReturn": false
    }
}
